


.inputLog{
    margin-bottom: 10px;
}

.boxs{
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    padding: 50px 50px;
    box-shadow: 10px 5px 5px 5px  rgb(130, 130, 179);
    text-align: center;
 
}